body{
    line-height: 1.5em;
    margin: 0;
    font-weight: 500;
    background: linear-gradient(45deg,#C3D3F0,#fff ) ;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.skill-progress{
    width: 1220px;
    background-color: #fff;
    padding: 50px;
    border-radius: 15px;
    box-shadow: 0 0 10px #00000031;
}
.skill-progress h1{
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 0;
}

.item p{
    margin-bottom: 0;
}
.item span:nth-child(1){
    display: block;
    font-size: 20px;
    font-weight: 500;
    color: #828181;
    margin-bottom: 15px;
}
.item span:nth-child(2){
    display: block;
    font-size: 30px;
    font-weight: 700;
    color: #4C94FC;
    margin-bottom: 15px;
}
.progress{
    border-radius: 30px;
    background-color: #C3D3F0;
    box-shadow: 0 0 10px #00000031;
}

.progress-level{
    height: 40px;
    border-radius: 30px;
    background-color: #2F6EEF;
    animation-name: progress;
    animation-duration: 2s;
    animation-fill-mode: both;
}

.skill-progress .item:nth-of-type(1) .progress-level{
    animation-delay: 0.4s;
}

.skill-progress .item:nth-of-type(2) .progress-level{
    animation-delay: 1s;
}

@keyframes progress{
    0%{
        width: 0;
    }
}
